html{
  scroll-behavior: smooth;
}

.ac-container{  
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  padding: 0 0.5rem;
  // FIXME: dare l'altezza 100% se viene ripetuta ovunque
}

ul{
  list-style: none;
  margin-top: 0; 
  margin-bottom: 0;
  padding-left: 0;
}

a{
  text-decoration: none;
}