$primary-color: #3F3A64;
$light-primary: #8c89a2;
$secondary-color: #20AD96;
$jumbo-color: #e9e6e3;
$white: #fff;
$first-white: #F5F7FA;
$second-white: #F8F8F8;
$third-white: #f5f1ed;
$gray: #696969;


$height-header: 80px;